html, 
body {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
}

*:focus {
    outline: none !important;
}

.bg-faded {
    @include substance-gradient($clouds, down, linear, #fff);
}

.bg-primary {
    @include substance-gradient($brand-primary, down, linear, #fff);
}