@mixin substance-box-shadow($box-shadow-base-size, $box-shadow-color: rgba(0,0,0,.16)) {
    $right-base: $box-shadow-base-size * .1;

    box-shadow: 
        $right-base $box-shadow-base-size 0 $box-shadow-color,
        ($right-base * 2) ($box-shadow-base-size * 2) 0 $box-shadow-color,
        ($right-base * 3) ($box-shadow-base-size * 3) 0 $box-shadow-color;
}

@mixin substance-gradient($color, $direction: down, $gradient-type: linear, $bg-color: transparent) {
    $color1: $color;
    $color2: rgba($color, .95);
    $color3: rgba($color, .9);
    $color4: rgba($color, .85);

    @if $direction == up {
        $color1: rgba($color, .85);
        $color2: rgba($color, .9);
        $color3: rgba($color, .95);
        $color4: $color;
    }

    background-color: $bg-color !important;

    @if $gradient-type == linear {
    background-image: linear-gradient(
        $color1 0%, 
        $color1 25%, 
        $color2 25%,
        $color2 50%,
        $color3 50%,
        $color3 75%,
        $color4 75%,
        $color4 100%
    );
    }
    @else {
        background-image: radial-gradient(
            $color1 0%, 
            $color1 25%, 
            $color2 25%,
            $color2 50%,
            $color3 50%,
            $color3 75%,
            $color4 75%,
            $color4 100%
        );
    }
}

@mixin substance-gradient-space($color: $clouds, $bg-color: #fff, $colorM: rgba($color, .6)) {
    background-color: $bg-color;

    $color1: $color;
    $color2: rgba($color, .75);

    $color3: rgba($color, .7);
    $color4: rgba($color, .65);

    background-image: linear-gradient(
        $color1 0%, 
        $color1 12%, 
        $color2 12%,
        $color2 25%,

        $colorM 25%,
        $colorM 75%,

        $color3 75%,
        $color3 82%,
        $color4 82%,
        $color4 100%
    );       
}

@mixin control-border($color: $everything, $behavior: normal) {
    border: 1px solid rgba($color, .06);    
}

@mixin button-base($bg-color, $color: $everything, $border-color: $bg-color) {
	background-color: $bg-color;
    transition: all .5s;
    border: 1px solid $border-color;
    @include substance-box-shadow(.1em);

    &.btn-lg {
        @include substance-box-shadow(.16em);
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $bg-color;
    }

    &:hover,
    &:focus {
        @include substance-gradient(lighten($bg-color, 6%), up);
        @include substance-box-shadow(.2em);
        transform: translateY(-.3em);

        &.btn-lg {
            @include substance-box-shadow(.26em);
        }        
    }

    &:active {
        @include substance-gradient(darken($bg-color, 10%), down, radial);
        @include substance-box-shadow(0em);    
        transform: translateY(.2em);

        &.btn-lg {
            @include substance-box-shadow(0em);
            transform: translateY(.26em);
        }        
    }    
}

@mixin button-variant($bg-color, $color: $everything) {
    @include button-base($bg-color, $color);

	background-color: $bg-color;
	color: $color;
    @include substance-gradient($bg-color, up);
}

@mixin button-outline-variant($bg-color, $color: $everything, $border-color: $bg-color) {
    @include button-base($bg-color, $color, $border-color);

	background-color: transparent;
	color: $border-color;

    &:hover,
    &:focus,
    &:active {
        color: $color;
    }
}

@mixin form-control($text-color: $nothing) {
    padding: $form-control-padding;
    border-radius: $form-control-border-radius;
    transition: all .5s;
    border: 1px solid $clouds;
    @include substance-box-shadow(0em);    

    @include substance-gradient-space();  

    &:hover {
        @include substance-box-shadow(.1em); 
        @include substance-gradient-space(lighten($clouds, 2%));
        transform: translateY(-.1em);
    }

    &:focus {
        border-color: $brand-primary;
        @include substance-gradient-space(lighten($clouds, 1%));
        @include substance-box-shadow(0em); 
        transform: translateY(.1em);
    }
}