/* Mother Nature -- https://colorganize.com/?palette=61 */
$ginger: #d4755d; 
$tomato: #db5344; 
$leaf: #6fc775; 
$sun: #faff73; 
$sky: #9dd3eb; 
$sea: #567096; 
$rain: #4d5a6e; 
$wood: #825b4d; 
$pergament: #e3deb8; 
$clouds: #ededed; 
$peacock: #2c7bdb; 
$nothing: #000000; 
$everything: #ffffff; 
$lily: #b02352; 
$salmon: #db5344; 
$text: #333333; 
$tamarillo: #991222;

$brand-primary:             $salmon !default;
$brand-success:             $leaf !default;
$brand-info:                $sky !default;
$brand-warning:             $sun !default;
$brand-danger:              $tamarillo !default;

$padding: .6em 1em;

$btn-border-radius: .4em !default;
$btn-padding: $padding !default;

$form-control-border-radius: .2em !default;
$form-control-padding: $padding !default;