@import "variables";
@import "bootstrap-fixes";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "substance";

body {
    @include substance-gradient(#000);
    background-attachment: fixed;
}

#content {
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
    @include substance-box-shadow(3em);
}

.page-header {
    margin-top: 3rem;
}

@import "../node_modules/node-waves/src/scss/waves";