@import "variables";
@import "bootstrap-fixes";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "substance";

body {
    cursor: default;
}

header {
    @include substance-gradient($salmon);
    color: #fff;
}

main {
    margin-bottom: 3rem;
}

.page-header {
    margin-top: 3rem;
}

@import "../node_modules/node-waves/src/scss/waves";